body {
    background-image: url("img/pattern.jpg");
    margin: 0px;
    padding: 0px;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 0 20px;
    height: 55px;
    margin: 0 auto;
    background-color: white;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
    padding-right: 10px;
}

li {
    list-style: none;
}

.navbar a {
    display: inline-block;
    padding-right: 10px;
}

.navbar-right a:hover {
    font-weight: bold;
}

.content{
    margin: 20px 100px;
    background-color: white;
    border-radius: 5px;
}

.content h1 {
    text-align: center;
    padding-top: 10px;
}

.article {
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: larger;
}